SQLITE_DB=/home/user/sqlite.db
LIBRARY_DIR=/home/user/files
SHOW_DIR=${LIBRARY_DIR}/show

S3_ENDPOINT_URL=https://us-southeast-1.linodeobjects.com
S3_BACKUP_BUCKET=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_REGION=us-east-1